<%- include("header.ejs") %>

<!-- Latest Start -->
<section class="pb-4 pt-4">
    <div class="d-flex mb-2 align-items-center">
        <h2>Latest Recipes</h2>
    </div>

    <div class="row row-cols-2 row-cols-lg-5 g-2 g-lg-3">




        <!-- Latest recipe cards go here -->

        <% posts.forEach((post, index) => { %>
            <a href="/blog/<%= index %>" class="col text-center category__link">
                <div class="category__img category__img--large shadow">
                    <img src="<%= post.imageUrl %>" alt="Blog Image" loading="lazy">
                </div>
                <div class="pt-1"><%= post.name %></div>
            </a>
        <% }); %>


<!-- ............................................................................ -->

        <a href="recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="images/Recipes_img1.jpg" alt="Strawberry Cake" loading="lazy">
            </div>
            <div class="pt-1">Strawberry Cake</div>
        </a>
        
        <a href="recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="images/Recipes_img2.jpg" alt="Green Salad" loading="lazy">
            </div>
            <div class="pt-1">Green Salad</div>
        </a>

        <a href="recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="images/Recipes_img3.jpg" alt="Chicken Stew" loading="lazy">
            </div>
            <div class="pt-1">Chicken Stew</div>
        </a>

        <a href="recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="images/Recipes_img4.jpg" alt="Masala Dosa" loading="lazy">
            </div>
            <div class="pt-1">Masala Dosa</div>
        </a>

        <a href="recipe/#" class="col text-center category__link">
            <div class="category__img category__img--large shadow">
                <img src="images/Recipes_img5.jpg" alt="Pani Puri" loading="lazy">
            </div>
            <div class="pt-1">Pani Puri</div>
        </a>

    </div>
</section>





<!-- Latest End -->

<%- include("footer.ejs") %>